# Binaries for programs and plugins
bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Any temp results you may generate using the tool
*.txt

# Test binary, built with `go test -c`
*.test
fixtures/*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
